#main-container{
    margin-top: 120px;
}
#fav-name{
    margin-left: 5%;
}


#favourite-movie-list-container{
    width: 90%;
    background-color: wheat;
    border-radius: 10px;
    padding: 0px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 5%;
    display: flex;
    color: #fff9da;
}



.search-movie-card{
    margin: 8px;
    background-color: black;
    width: 135px;
    padding-bottom: 10px;
    position: relative;
    border-radius: 7px;
    overflow: auto;
    transition: ease-in-out 0.4s;
    
}
.search-movie-card:hover{
    transform: scale(1.1);
}
.search-movie-image{
    width: inherit;
    height: 170px;
}
.search-movie-image a{
    width: inherit;
    height: inherit;
}
.search-movie-image a img{
    width: inherit;
    height: inherit;
}

.search-movie-title{
    color: white;
    text-align: center;
}
.search-movie-year{
    color: white;
    text-align: center;
    font-size: small;
    margin-top: -6px;
}



.add-favourite{
    position: absolute;
    border: none;
    background: darkgray;
    left: 4px;
    height: 26px;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}
.add-favourite:hover{
    background-color: white;
    height: 30px;
}





/* end : search container */

@media only screen and (max-width: 600px) {
    #favourite-movie-list-container{
        width: 96%;
        margin-left: 2%; 
     }
     #fav-name{
        margin-left: 2%;
    }
}