body{
    margin: 0;
    background: #fff9da;
}
#search-bar-container{
    margin-top: 47px;
    background: gray;
    height: 87px;
    padding: 36px;
}
#search-bar-movie-list{
    display: none;
    background-color: #f9f2a6;
    min-height: 40px;
    max-height: 225px;
    border-radius: 5px;
    border-bottom: solid;
    margin-top: -1px;
    border-right: solid;
    border-left: solid;
}

/* start : search container */
#search-result-container{
    display: flex;
    border-radius: 16px;
    margin: 20px;
    height: 265px;
    width: -webkit-fill-available;
    background: #bacd9b;
}
.search-movie-card{
    margin: 20px;
    background-color: black;
    width: 135px;
    height: 217px;
    position: relative;
    border-radius: 7px;
    overflow: auto;
    transition: ease-in-out 0.4s;
}
.search-movie-card:hover{
    transform: scale(1.1);
}
.search-movie-image{
    width: inherit;
    height: 170px;
}
.search-movie-image a{
    width: inherit;
    height: inherit;
}
.search-movie-image a img{
    width: inherit;
    height: inherit;
}

.search-movie-title{
    color: white;
    text-align: center;
}
.search-movie-year{
    color: white;
    text-align: center;
    font-size: small;
    margin-top: -6px;
}



.add-favourite{
    position: absolute;
    border: none;
    background: darkgray;
    left: 4px;
    height: 26px;
    transition: ease-in-out 0.2s;
}
.add-favourite:hover{
    background-color: white;
    height: 30px;
}





/* end : search container */





/* main container start */
#main-container{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}
#main{
    padding: 1px;
    width: 60%;
}

.carousel-inner{
    overflow: visible;
    overflow-x:clip ;
}
.c-poster{
    height: 36vw;
}
.inner-poster{
    position: relative;
}
.poster-container{
    position: absolute;
    height: 150px;
    width: 100%;
    bottom: 0;
}
.poster-card-image{
    height: 19vw;
    width: 14vw;
    position: absolute;
    bottom: -30px;
    left: 43px;
}
.poster-image-tag{
    height: inherit;
    width: inherit;
    border: solid 2px white;
}
.poster-card-detail{
    color: white;
    width: 71%;
    position: absolute;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), black,black);
    padding-left: 58px;
}
.poster-title{
    font-size: larger;
}
.poster-release{
    text-align: end;
    font-size: small;
    margin-right: 6px;
}
.poster-trailor-play{
    border: none;
    background: none;
    color: white;
    font-size: larger;
    padding:  0;
    transition: ease-in-out 0.5s;
}
.poster-trailor-play:hover{
    transform: scale(1.5);
}




/* trainer play container */
#trailer-play-container{
    position: fixed;
    display: none;
    top: 65px;
    width: 99%;
    max-width: 712px;
    padding: 5px;
    height: 30rem;
    background: #ecebc7;
    z-index: 1;
}



/* end: inside main div css */






/* end: inside main div css */
#aside{
    height: 50px;
    border: solid blue;
    min-width: 19.2rem;
    width: 40%;
}

@media only screen and (max-width: 800px) {
    #main{
        width: 100%;
    }
    #aside{
        width: 100%;
    }
    .c-poster{
        height: 64vw;
    }
    .poster-card-image{
        height: 34vw;
        width: 25vw;
    }
    .poster-card-detail{
     font-size: 3.5vw;    
    }
    .poster-title{
        font-size: 3.5vw;
    }
    .poster-release{
        font-size: 2.5vw;
    }
    
}